{% trans_default_domain 'cocorico_listing' %}

<div id="category-form-container">
    {% if app.request.isXmlHttpRequest %}
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
    {% endif %}

    <h3>{{ 'listing.edit.categories.sub_title'|trans }}</h3>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="selection-area listing-categories">
        {{ form_errors(form.listingListingCategories) }}
        {{ form_widget(form.listingListingCategories) }}
    </div>

    <div class="btn-block text-center">
        <button data-id="submit-category" type="submit" class="btn btn-default btn-primary">
            <span>{{ 'listing.save'|trans }}</span>
        </button>
    </div>

    {{ form_end(form) }}

    <script>
        $(function () {
            var $formContainer = $("#category-form-container");
            $formContainer.submitAjaxForm(function () {
                jcf.replaceAll("#category-form-container");
            });

            $("[data-id='submit-category']").on('click', function (e) {
                e.preventDefault();
                $(this).closest('form').submit();
            });
        });
    </script>
</div>



